@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Yellow);
    font-family: 'Figtree', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 370px;
    height: auto;
    background-color: var(--White);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--Black);
    box-shadow: 8px 8px var(--Black);
    margin-bottom: 48px;
}
.container .illust-img {
    width: 100%;
    border-radius: inherit;
    margin-bottom: 24px;
}
.container span {
    background-color: var(--Yellow);
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 800;
}
.container p:nth-child(3) {
    font-weight: 500;
    margin: 24px 0;
}
.container h3 a {
    color: var(--Black);
    text-decoration: none;
    font-weight: 800;
    font-size: 1.03em;
}
.container h3 a:hover {
    color: var(--Yellow);
}
.container p:nth-child(5) {
    color: var(--Grey);
}
.container .avatar {
    display: flex;
    align-items: center;
}
.container .avatar img {
    width: 40px;
    margin-right: 12px;
}
.container .avatar p {
    font-weight: 800;
}
.attribution a {
    color: var(--Grey);
}
@media (max-width: 375px) {
    body {
        width: 100%;
        padding: 0 24px;
    }
    .container {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .attribution {
        padding: 0 24px;
        position: absolute;
        bottom: 24px;
    }
}
